
.blurhash-placeholder {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1; /* Ensure it's behind the image but covers the background */
  opacity: 1;
  transition: opacity 400ms ease-in-out;
  will-change: opacity;
}

.blurhash-placeholder--loaded {
  opacity: 0;
}
